* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    
}

#main{
    height: 100vh;
    width: 100vw;

}
#hero-page{
    background-color:#F3F1EF;
}
#rectangle{
    width: 65.9vmin;
    height: 102.5vmin;
    position: absolute;
    background-color: #D9D9D9;
    right: 0;
}
.navbar{
    padding: 4vmin 18vmin;
}
.navbar-nav{
    
    color: #000;
    font-family: Montserrat;
    font-size: 150%;
    font-style: normal;
    font-weight:bold;
    gap: 8vh;
}
#anurag{
font-size: 4vmin;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 3.3px;
}
.nav-link{

font-size: 3vh;
font-style: normal;
font-weight: normal;
line-height: normal;
letter-spacing: -1.54px;

}

#intro1{
   
    color: #000;
font-family: Inter;
font-size: 8vmin;
font-style: normal;
font-weight: 200;
line-height: normal;

}
#intro2{
    color: #000;
font-family: Inter;
font-size: 12vmin;
font-style: normal;
font-weight: 800;
line-height: normal;
display: inline;
}
#intro3{

    color: #000;
font-family: Inter;
font-size:3vmin;
font-style: normal;
font-weight: 400;
line-height: 2rem;
letter-spacing: 2.5vmin;
}
#intro0{
   
    color: white;
    position: relative;
    left: 1vmin;
    z-index: 99;
color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 12vmin;
font-style: normal;
font-weight: 400;
line-height: normal;

}
#tagline{
    font-size: 4.5vmin;
    position: relative;
    top: 12vmin;
}
.bText{
    font-weight: 700;
}
#main-content{
    display:flex;
    
}
#main-left{
    position: relative;
    left: 8vw;
    top:8vw;
    margin-bottom: 40vmin;
}


#main-photo{
    height: 88vmin;
    position: absolute;
    right:0;
   
    
    margin-left: 54vmin;
}
#box{
    height: 13vmin;
    width: 56vmin;
    background-color: #000;
    position: absolute;
    top:11vmin;
    left: 20vmin;
    
}


/* About Page */
#about-page{
    padding-bottom: 10vmin;
    background-color: #E5E2DE;
}
.buttons{
    height: 9vmin;
    margin-top: 4vmin;
   
}
#main-right1{
    margin-top: 12vmin;
    
}
#main-left1{
    padding: 10vmin;
}
#about-text{
    margin-top: 8vmin;
    color: #FFF;
font-family: Montserrat;
font-size: 4vmin;
font-style: normal;
font-weight: 600;
line-height: normal;
background-color: black;
display: inline-block;
padding: 0.5vmin;
padding-left: 2vmin;
padding-right: 2vmin;

}
#name{
    margin-top: 2vmin;
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 8vmin;
font-style: normal;
font-weight: bolder;
line-height: 119.1%; /* 64.314px */

}
#degree{
    
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 4vmin;
font-style: normal;
font-weight: 500;
line-height: 119.1%; /* 64.314px */
letter-spacing: 2.16px;

}

#motive{
text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: normal;
line-height:6vmin;
margin-top: 4vmin;
}
#buttons{
    margin-top: 5vmin;
    padding-bottom: 4vmin;
}
.main-b{
    height: 7.5vmin;
    width: 25.2vmin;
   border-radius:20vmin ;
   border-width: 4px;
   font-size: 3vmin;
   margin-right:2vmin ;
   margin-bottom: 5vmin;
}
#git{
    border-radius: 100%;
}


#socail-media-btn{
    margin-top: 15vmin;
}
#left-photo{
    height: 58vmin;
    margin-top: 10vmin ;
    margin-left: 15vmin;
}
#socail-media-btn img:hover{
    opacity: 40%;
}

/* Portfolio */


#i-portfolio{
    
    height: 60vmin;
    margin-left: 19.5vmin;
    position: relative;
    z-index: 999;
}

#tech-rectangle{
    position: absolute;
    background-color: #B9B6B6;
    height: 59.5vh;
    width: 120vh;
    right: 0;
}
#work-right{
    position: relative;
    z-index: 999;
}